body{
    background-color:#F0F0F0 ;
    font-family:Arial,sans-serif;
    width:100%;
}

.top{
    height:226px;
    border-bottom: 1px solid #707070;
    /*position:fixed;*/
    z-index: 1;
}
.return{
    color:#707070;
    font-size:40px;
}
.return:hover{
    color: #333333;
}


h1{
    color:#707070;
    font-size:80px;
    font-weight: normal;
    top: 113px;
    left: 32px;
    padding: 30px 0 0 50px;
    margin: 0;
}

.main{
    z-index: 0;
    margin:0 10%;
}
.container{
    padding-bottom:30px;
}
.item{
    font-size: 40px;
    color:#707070;
    margin:10px 0 0 0;
}
.content{
    font-size: 25px;
    color:#707070;
    margin: 10px 0 0 0;

}
.image{
    float: left;
}
.photo{
    padding: 10px 10px;
    float:left;
}









