body{
    background-color:#F0F0F0 ;
    font-family:Arial,sans-serif;
    width:100%;
}

.top{
    height:226px;
    border-bottom: 1px solid #707070;
    position:fixed;
    z-index: 1;
}
.return{
    color:#707070;
    font-size:40px;
}
.return:hover{
    color: #333333;
}


h1{
    color:#707070;
    font-size:80px;
    font-weight: normal;
    top: 113px;
    left: 32px;
    padding: 0;
    margin: 0;
}

.main{
    font-size: 50px;
    color:#707070;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.content{
    font-size: 35px;
}
.image{
    display: flex;
    flex-direction: column;
}
.photo{
    padding: 10px;
}



@media(max-width:1000px){
    .main{
        font-size: 100px;
    }



}






