body{
    background-color: #F0F0F0;
    font-family:Hiragino Kaku Gothic ProN ;
    color: #707070;
}
.move{
    font-size: 30px;
    cursor:pointer;
    color:#707070;
}

.large li{
    font-size: 50px;
    list-style: none;
}
.small li{
    font-size:30px;
    list-style: none;
    float:left;
    padding-right: 50px;
}
.small input[type="checkbox"]{
    display: none;
}
.small input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}

.small input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    left: -10px;
    top: 50%;
    border: 1px solid #585753; /* 枠の色変更 お好きな色を */
    background-color: #FFF; /* 背景の色変更 お好きな色を */
}
.small input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 28px;
    height: 15px;
    margin-top: -18px;
    top: 50%;
    left: -5px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #585753; /* チェックの色変更 お好きな色を */
}






