<style>/*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link th:href="@{/css/circleDetail.css}" rel="stylesheet">

</head>
<body>
    <div class="top" th:object="${form}">
        <a class="return" th:href="@{'/'}" th:text="一覧に戻る"></a>
        <h1 th:text="${form.name}"></h1>
        <div th:each="seq : ${#numbers.sequence(1,__${form.pictureNum}__)}">
            <img th:src="@{'/image/'+${form.pictureName}+'_'+${seq}+'.jpeg'}" width="572px" height="352px">
        </div>
    </div>
    <div class="container">
        <p class="main content">活動内容<p>
        <p class="main member">雰囲気</p>
        <p class="main schedule">2020年度新歓情報</p>
        <p class="main SNS">各種SNS</p>
        <p class="main mail">問い合わせ</p>
    </div>



</body>
</html></style>

<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link th:href="@{/css/circleDetail.css}" rel="stylesheet" >
    <meta name=”viewport” content=”width=device-width, initial-scale=1”>
</head>
<body>
<div class="top">
    <a href="#" class="return" onclick="history.back(); return false;">＜一覧に戻る</a>
    <h1 th:text="${form.name}"></h1>

</div>
<div class="main" th:object="${form}">
    <div class="container">
        <h2 class="main activity">活動内容</h2>
        <p class="content" th:text="*{introduction}"></p>
        <h2 class="main member">雰囲気</h2>
        <p class="content" th:text="*{atmosphere}"></p>
        <h2 class="main schedule">2020年度新歓情報</h2>
        <p class="content" th:text="*{welcomePartyInf}"></p>
        <h2 class="main mail">問い合わせ</h2>
        <p class="content">
            <a href="mailto:info@example.com" th:text="*{inquiry}"></a>
        </p>
    </div>
    <div  class="image" th:each="seq : ${#numbers.sequence(1,__${form.pictureNum}__)}">
        <img th:src="@{'/image/'+${form.pictureName}+'_'+${seq}+'.jpeg'}" width="572px" height="352px">
    </div>
</div>



</body>
</html>
