<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link th:href="@{/css/circleDetail.css}" rel="stylesheet">

</head>
<body>
    <div class="top" th:object="${form}">
        <a class="return" th:href="@{'/'}" th:text="一覧に戻る"></a>
        <h1 th:text="${form.name}"></h1>
        <div th:each="seq : ${#numbers.sequence(1,__${form.pictureNum}__)}">
            <img th:src="@{'/image/'+${form.pictureName}+'_'+${seq}+'.jpeg'}" width="572px" height="352px">
        </div>
    </div>

</body>
</html>