<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>詳細ページ</title>
    <link th:href="@{/css/circleDetail.css}" rel="stylesheet" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div class="top">
    <a href="#" class="return" onclick="history.back(); return false;">＜一覧に戻る</a>
    <h1 th:text="${form.name}"></h1>
</div>

<div class="main" th:object="${form}">
    <span th:if="${form.pictureNum>0}">
        <ul class="image_wrapper">
            <li  class="image" th:each="seq : ${#numbers.sequence(1,__${form.pictureNum}__)}">
                <img th:src="@{'/image/'+${form.pictureName}+'_'+${seq}+'.jpeg'}" width="429px" height="264px">
            </li>
        </ul>
    </span>
    <div class="container">
        <h2 class="main activity">活動紹介</h2>
        <p class="content scroll" th:text="*{introduction}"></p>
        <h2 class="main member">構成メンバー等</h2>
        <p class="content" th:text="*{atmosphere}"></p>
        <h2 class="main schedule">2020年度新歓情報</h2>
        <p class="content" th:text="*{welcomePartyInf}"></p>
        <h2 class="main mail">問い合わせ</h2>
        <p class="content">
            <span th:if="${form.homePage!=null}">
                公式サイト:
            </span>
            <a th:href="@{__${form.homePage}__}" target="_blank" th:text="*{homePage}"></a>
        </p>
        <p class="content">
            <span th:if="${form.email!=null}">
                問い合わせメール:
            </span>
            <a th:href="@{mailto:__${form.email}__}" th:text="*{email}"></a>
        </p>
        <p class="content">
            <a class="twitter-follow-button btn"
                th:href="@{__${form.twitter}__}"
               target="_blank"
               data-size="large" th:if="!${form.twitter==null}">
                Twitter
            </a>
            <a class="instagram-follow-button btn"
               th:href="@{__${form.instagram}__}"
               target="_blank"
               data-size="large" th:if="!${form.instagram==null}">Instagram
            </a>
        </p>

    </div>
</div>
</body>
</html>
