<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
 <div class="top">
     <h1>東北大学生のためのサークル探しサイト</h1>
     <h2>Search</h2>
     <a class="search" href="option.html">条件を絞る</a>
     <p class="hit">サークル一覧　oo件ヒット</p>
 </div>
 <div class="container">
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
            <div class="sub">
                <a class="name" href="detail_fes.html">東北大学祭事務局</a>
                <p class="content">学祭運営</p>
            </div>

     </div>
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="https://public-v2links.adobecc.com/5f9bbf75-09c9-4ba9-7f4d-dd53667acce4/component?params=component_id%3Aa75da6db-892e-4d4d-bcf0-0389eec990f5&params=version%3A0&token=1587210383_da39a3ee_683ee18285d31d8a3981ef0561258e36c2dee21f&api_key=CometServer1">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
 </div>


</body>
</html>