<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
 <div class="top">
     <h1>東北大学生のためのサークル探しサイト</h1>
     <h2>Search</h2>
     <p class="hit">サークル一覧　<span th:text="${count}"></span>件ヒット<a class="search" th:href="@{'/option'}">条件を絞る</a></p>
 </div>
 <div class="container"  th:each="circle : ${circleList}">
     <div class="circle">
         <img th:src="@{'/image/'+${circle.pictureName}+'.jpeg'}" width="572px" height="352px">
            <div class="sub">
                <a class="name" th:href="@{'/circleDetail/'+${circle.id}}" th:text="${circle.name}"></a>
                <p class="content" th:text="${circle.organization}"></p>
            </div>
     </div>
 </div>
</body>
</html>