<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
 <div class="top">
     <h1>東北大学生のためのサークル探しサイト</h1>
     <h2>Search</h2>
     <p class="hit">サークル一覧　oo件ヒット<a class="search" href="option.html">条件を絞る</a></p>
 </div>
 <div class="container">
     <div class="circle">

         <img src="../static/css/image/lUcpYpEk36uDcZeGjRa2Hv2UN4MVd75WIOMpwTNj.jpeg" width="572px" height="352px">
            <div class="sub">
                <a class="name" href="detail_fes.html">東北大学祭事務局</a>
                <p class="content">学祭運営</p>
            </div>

     </div>
     <div class="circle">

         <img src="../static/css/image/kYYJV26vCgOlynKKfiIKCHPMUKxwRrtrkPWeD6za.jpeg" width="572px" height="352px">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="../static/css/image/0wu6KXTcPikHOLFOg1OnvEn2FKxXXcNkzkUSTSEr.jpeg" width="572px" height="352px">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="../static/css/image/6Lkd0LzxsI0NQ2sXdO6RYJgVbpcWlTU3qjgHKLnP.jpeg" width="572px" height="352px">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="../static/css/image/7l2I3SWDzMc55v7Vrf2pqYqhabiP6BkQsZ0vz64K.jpeg" width="572px" height="352px">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
     <div class="circle">

         <img src="../static/css/image/iH5KcGCUfbPjEYFxfuavFqVKKIanewAM1SYxsGJ2.jpeg" width="572px" height="352px">
         <div class="sub">
             <a class="name" href="detail_fes.html">東北大学祭事務局</a>
             <p class="content">学祭運営</p>
         </div>

     </div>
 </div>


</body>
</html>