<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/option_style.css">
</head>
<body>
    <a class="move" href="home-m.html">< 条件を適応</a>
    <ul class="large">
        <li>分類
            <ul class="small">
                <li><input id="sample1" type="checkbox"><label for="sample1">学友会</label></li>
                <li><input id="sample2" type="checkbox"><label for="sample2">サークル</label></li>
                <li><input id="sample3" type="checkbox"><label for="sample3">自主ゼミ</label></li>
            </ul><br>
        <li>所属
            <ul class="small">
                <li><input id="op1" type="checkbox"><label for="op1">全学</label></li>
                <li><input id="op2" type="checkbox"><label for="op2">医学部</label></li>
                <li><input id="op3" type="checkbox"><label for="op3">経済学部</label></li>
                <li><input id="op4" type="checkbox"><label for="op4">法学部</label></li>
            </ul>
        </li>

    </ul>



</body>
</html>